@font-face
{
    font-family: RobotoB;
    src: url(Fonts/Roboto-Bold.woff);
}

@font-face
{
    font-family: Roboto;
    src: url(Fonts/Roboto-Regular.woff);
}

.note
{
    border-radius: 5px;
    border-style:solid;
    border-color: black;
    background-color: #EEEEEE;
    width:18rem;
}

.note:hover
{
    background-color: #E0E0E0;
}

.notein
{
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 6.25%;
    padding-bottom: 6.25%;
}

.notein button
{
    border: 0ch;
    border-radius: 5px;
    padding: 6.25%;
    background-color: #fb1706;
    font-family: 'Roboto';
}

.notein button:hover
{
    background-color: #B71C1C;
}

.notein p
{
    font-family: 'Roboto';
    font-size: 25px;
}

.addArea button
{
    border: 0ch;
    border-radius: 5px;
    padding: 2%;
    background-color: #424242;
    font-family: 'Roboto';
    color: white;
    margin-left: 25px;
}

.addArea button:hover
{
    background-color: #212121;
}

.addArea textarea
{
    font-size: 20px;
    float:left;
    font-family: 'Roboto';
    background-color: #EEEEEE;
    outline: none;
    border:0px;
}

.addArea textarea:active,textarea:hover
{
    background-color: #E0E0E0;
}

h1
{
    font-family: 'RobotoB';
}

h2
{
    font-family: 'RobotoB';
}

h5
{
    font-family: 'Roboto';
}

.navbar
{
    background-color: #EEEEEE;
    padding-top: 6.25%;
}

.navbar input
{
    font-size: 25px;
    border-radius: 5px;
    border:0px;
    background-color: #EEEEEE;
}

.navbar input:active
{
    border:0px;
    outline:none;
}

body
{
    padding-left: 25%;
    padding-right: 25%;
    background-color: #EEEEEE;
}

@media screen and (max-width: 720px) {
    body 
    {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    .note
    {
        width:22.5rem;
    }

    .addArea button
    {
        font-size: 27.5px;
        margin-left: 5px;
    }
}