:root {
  --bg-color: #000;
  --text-color: #fff;
  --box-bg: #111;
  --highlight-bg: #222;
  --alt-row-bg: #1a1a1a;
  --border-color: #444;
  --link-color: #7abaff;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 120%;
}

body {
  max-width: 100%;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:visited {
  color: var(--link-color);
}

/* Header and footer areas */
.menu {
  padding: 0;
  text-align: center;
}
.menu li {
  display: inline-block;
}
.menu a {
  background: var(--box-bg);
  color: var(--text-color);
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.article-meta {
  background: var(--box-bg);
  color: var(--text-color);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.title {
  font-size: 1.1em;
}
footer {
  text-align: center;
}
footer a {
  color: var(--link-color);
  text-decoration: none;
}
hr {
  border-style: dashed;
  color: var(--border-color);
}

/* Code */
pre {
  background: var(--box-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  box-shadow: 5px 5px 5px #000;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: var(--highlight-bg);
  color: var(--text-color);
}
pre code {
  background: none;
}

/* Misc elements */
img,
iframe,
video {
  max-width: 70vw;
}
main {
  hyphens: auto;
}
blockquote {
  background: var(--highlight-bg);
  border-left: 5px solid var(--border-color);
  padding: 3px 1em 3px;
  color: var(--text-color);
}

table {
  margin: auto;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}
table thead th {
  border-bottom: 1px solid var(--border-color);
}
th,
td {
  padding: 5px;
}
thead,
tfoot,
tr:nth-child(even) {
  background: var(--alt-row-bg);
}

/* Responsive design */
@media (min-width: 640px) {
  body {
    max-width: 75%;
  }
  img,
  iframe,
  video {
    max-width: 45vw;
  }
}
