.playfair-display-playfair {
 font-family: "Playfair Display", serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
}

.libre-baskerville-regular {
 font-family: "Libre Baskerville", serif;
 font-weight: 400;
 font-style: normal;
}

.libre-baskerville-bold {
 font-family: "Libre Baskerville", serif;
 font-weight: 700;
 font-style: normal;
}

.libre-baskerville-regular-italic {
 font-family: "Libre Baskerville", serif;
 font-weight: 400;
 font-style: italic;
}

body {
 font-family: 'Libre Baskerville';
 font-size: 100%;
}
code {
 font-family: "Lucida Console", Monaco, monospace;
 font-size: 85%;
}

