{{ partial "header.html" . }}
<div class="article-meta">
 <h1><span class="title">{{ .Title | markdownify }}</span></h1>
 {{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
 {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

<main>
 {{ .Content }}
</main>

{{ partial "footer.html" . }}

<style>
.bookshelf
 {
 gap: 20px;
 padding: 20px;
 display:flex;
 flex-direction:column;
}
.book
{
 display:flex;
 align-items:flex-start;
 gap:1em;
 margin-bottom:1em;
}
.cover {
  flex: 0 0 20%;
  max-width: 120px;
  object-fit: contain;
  height: auto;
}
.book p {
  flex: 1;
  margin: 0;
}

@media (min-width: 640px) {
  .cover {
    max-width: 160px;
  }
}
</style>
