<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex/dist/katex.min.css" />
<script
  src="//cdn.jsdelivr.net/npm/@xiee/utils/js/math-code.min.js"
  defer
></script>
<script src="//cdn.jsdelivr.net/npm/katex/dist/katex.min.js" defer></script>
<script
  src="//cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"
  defer
></script>
<script
  src="//cdn.jsdelivr.net/npm/@xiee/utils/js/render-katex.js"
  defer
></script>

<script
  src="//cdn.jsdelivr.net/npm/@xiee/utils/js/center-img.min.js"
  defer
></script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
</style>
