{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}

<style>
    .bookshelf
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
    }
    .book
    {
        text-align: center;
    }
    .cover
    {
        height:auto;
        width:40vw;
        object-fit: cover;
    }
    @media (min-width: 640px) {
    .cover{width:20vw;}
}
</style>